@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

.plans-buttons ul button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.plans-buttons ul button:hover {
  background-color: #2e154c;
  color: #ebe7ef;
}

.plans-buttons ul button.active {
  background-color: #673599;
  color: #ebe7ef;
}

