.card {
    padding: 2rem;
    border-radius: 6px;
    background-color: #140524;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    min-height: 500px;
}

.card-brighter {
    min-height: 100px;
    background-color: #3c1366;
}

.card-brighter li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}